<nav id="bt-menu" class="bt-menu">
  <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
  <ul>
    <li><a href="{{ url('home') }}">Accueil</a></li>
    <li><a href="{{ url('projets') }}">Projets</a></li>
    <li><a href="{{ url('tutoriels') }}">Tutos</a></li>
    <li><a href="{{ url('promotions') }}">Promotions</a></li>
    <li><a href="{{ url('contact') }}">Contact</a></li>
  </ul>
  <ul>
    <li><a href="https://www.facebook.com/digitaldesign.brest" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
    <li><a href="https://github.com/DigitalDesign" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCGSNBV7l9lUefwb4KOS4NOA" target="_blank"><i class="fa fa-youtube"></i></a></li>
  </ul>
</nav>
