{% extends "base.html.twig" %}

{% block body %}
<section id="promotions">
  <h1 class="centre">Les <strong>promotions</strong></h1>
  <div class="container-fluid">
    {% for key,promotion in promotions %}
        <div class="row">
            <div class="{% if (key == 0) %}col-md-12{% else %}col-md-6{% endif %}">
              <h2>{{ promotion.date }}</h2>
              <img src="{{ asset(promotion.webPath) }}" alt="{{ promotion.date }}"/>
              <div class="membres">
                {% for membre in promotion.membres %}
                    <a href="">
                      <img
                      src="
                        {% if membre.webPath %}
                          {{ asset(membre.webPath) }}
                        {% else %}
                          {{ asset('assets/img/logo.png') }}
                        {% endif %}"
                      alt="{{ membre.prenom }}-{{ membre.nom }}"
                      data-toggle="tooltip"
                      data-placement="top"
                      title=""
                      data-original-title="{{ membre.prenom }}&nbsp;{{ membre.nom }}"/></a>
                {% endfor %}
              </div>
            </div>
        </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
